<%= form_with(model: [@headquarter, channel]) do |form| %>
  <% if channel.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(channel.errors.count, "error") %> prohibited this channel from being saved:</h2>

      <ul>
        <% channel.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= form.label :address %>
    <%= form.text_field :address %>
  </div>

  <div class="field">
    <%= form.label :is_active %>
    <%= form.check_box :is_active %>
  </div>

 <div class="field">
    <%= form.label :warehouse_ids %>
    <%= form.collection_check_boxes :warehouse_ids, current_user.warehouses, :id, :name do |c| %>
      <%= c.label(:"data-value" => c.value) { c.check_box + c.text } %>
    <% end %>
  </div>

  <%= form.hidden_field :headquarter_id %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
