<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @channel.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @channel.address %>
</p>

<p>
  <strong>Is active:</strong>
  <%= @channel.is_active %>
</p>

<p>
  <strong>Headquarter:</strong>
  <%= @channel.headquarter_id %>
</p>

<%= link_to 'Edit', edit_channel_path(@channel) %> |
<%= link_to 'Back', channels_path %>
