<%= form_with(model: [@headquarter, membership]) do |form| %>
  <% if membership.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(membership.errors.count, "error") %> prohibited this membership from being saved:</h2>

      <ul>
        <% membership.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :invitation_email %>
    <%= form.text_field :invitation_email, autocomplete: "off", type: "email" %>
  </div>

  <div class="field">
    <%= form.label :is_active %>
    <%= form.check_box :is_active %>
  </div>

  <div class="field">
    <%= form.label :role_id %>
    <%= form.collection_select :role_id, Role.all, :id, :title %>
  </div>

  <%= form.hidden_field :headquarter_id %>

  <%= render 'memberships/components/channels_editor', form: form %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
