<div id=<%= dom_id(space) %> class="border bg-light border-1 rounded-3 d-flex justify-content-between align-items-center mt-1">
  <ul class="list-group list-group-horizontal">
    <li class="list-group-item bg-light border-0 border-end"><span class="badge bg-success border text-light me-2">$<%= number_with_precision(space.price, precision: 0, delimiter: '.', separator: ',') %></span></li>
    <li class="list-group-item bg-light border-0 border-end"><span class="badge rounded-pill border bg-white text-dark"><%= space.stock %></span> stock</li>
    <li class="list-group-item bg-light border-0 border-end"><span class="badge rounded-pill border bg-white text-dark"><%= space.warehouse.name %></span></li>
    <li class="list-group-item bg-light border-0"><span class="me-1"><%= space.product.name %></span></li>
  </ul>

  <%= link_to "add", add_product_path(@channel.id, space.id), method: :update, class: "me-2 px-4 btn btn-secondary btn-sm #{space.stock < 1 ? "disabled" : ""}" %>
</div>