<p id="notice"><%= notice %></p>

<h1>Spaces</h1>

<table>
  <thead>
    <tr>
      <th>Stock</th>
      <th>Price</th>
      <th>Expiration</th>
      <th>Warehouse</th>
      <th>Product</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @spaces.each do |space| %>
      <tr>
        <td><%= space.stock %></td>
        <td><%= space.price %></td>
        <td><%= space.expiration %></td>
        <td><%= space.warehouse_id %></td>
        <td><%= space.product_id %></td>
        <td><%= link_to 'Show', [@warehouse, space] %></td>
        <td><%= link_to 'Edit', edit_warehouse_space_path(@warehouse, space) %></td>
        <td><%= link_to 'Destroy', [@warehouse, space], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Space', new_warehouse_space_path(@warehouse) %>
