<div class="dropdown">
  <a class="btn btn-light border-secondary btn-sm shadow-sm dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
    Fast Actions
  </a>

  <ul class="dropdown-menu shadow-lg" aria-labelledby="dropdownMenuLink">
    <li>
      <span data-bs-toggle='modal' data-bs-target='#staticBackdrop' >
        <%= link_to 'Create new channel', new_headquarter_channel_path(headquarter), class: 'dropdown-item', data: { 'turbo_frame': 'remote_modal'} %>
      </span>
    </li>

    <li>
      <span data-bs-toggle='modal' data-bs-target='#staticBackdrop'>
        <%= link_to 'Connect warehouse access', connect_warehouse_path(headquarter), class: 'dropdown-item', data: { 'turbo_frame': 'remote_modal'} %>
      </span>
    </li>

    <li><a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#staticBackdrop" href="#">Add new member</a></li>
    <li><hr class="dropdown-divider"></li>
    <li><a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#staticBackdrop" href="#"></a></li>
    
    <li>
      <span data-bs-toggle='modal' data-bs-target='#staticBackdrop'>
        <%= link_to "Info about #{headquarter.brand}", headquarter_path(headquarter), class: 'dropdown-item', data: { 'turbo_frame': 'remote_modal'} %>
      </span>
    </li>
    
    <li>
      <span data-bs-toggle='modal' data-bs-target='#staticBackdrop' >
        <%= link_to "Edit #{headquarter.brand}", edit_headquarter_path(headquarter), class: "dropdown-item", data: { 'turbo_frame': 'remote_modal'} %>
      </span>
    </li>

    <li><hr class="dropdown-divider"></li>
    <li><%= link_to "Close headquarter", headquarter, method: :delete, class:"dropdown-item", data: { confirm: 'Are you sure?' } %></li>
  </ul>
</div>