<%= form_with(model: headquarter) do |form| %>
  <% if headquarter.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(headquarter.errors.count, "error") %> prohibited this headquarter from being saved:</h2>

      <ul>
        <% headquarter.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :brand %>
    <%= form.text_field :brand, autocomplete: "off" %>
  </div>
  
  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div class="form-check form-switch">
    <%= form.label :is_active, class:"form-check-label" %>
    <%= form.check_box :is_active, class:"form-check-input" %>
  </div>

  <% if current_user.warehouses.count > 0 %>
    <div class="field">
      <ul class="list-group">
        <li class="list-group-item list-group-item-dark">Warehouses available for <%= headquarter.brand %></li>
        <%= form.collection_check_boxes :warehouse_ids, current_user.warehouses, :id, :name do |c| %>
          <li class="list-group-item">
            <%= c.check_box(class:"form-check-input me-1") + c.label %>
          </li>
        <% end %>
      </ul>
    </div>
  <% else %>
    <%# TODO if empty, offer create new warehouse %>
    <p>You don't have any warehouse yet, start creating one.</p>
  <% end %>

  <%= form.hidden_field :user_id %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
