<%= turbo_frame_tag "remote_modal" do %>
  <p id="notice"><%= notice %></p>

  <p>
    <strong>Brand:</strong>
    <%= @headquarter.brand %>
  </p>

  <p>
    <strong>Is active:</strong>
    <%= @headquarter.is_active %>
  </p>

  <p>
    <strong>User:</strong>
    <%= @headquarter.user_id %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= @headquarter.description %>
  </p>
<% end %>