<div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark" style="width: 230px;">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
      <span class="fs-4">Metrik</span>
    </a>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto">
      <li class="nav-item">
        <li><%= link_to "Home", root_path, class: "nav-link active" %></li>
      </li>
      
      <li>
        <li><%= link_to "Headquarters", headquarters_path, class: "nav-link text-white" %></li>
      </li>

      <li>
        <li><%= link_to "Warehouses", warehouses_path, class: "nav-link text-white" %></li>
      </li>
      
      <li>
        <%= link_to "Channels", your_channels_path, class: "nav-link text-white" %>
      </li>

      <li>
        <a href="#" class="nav-link text-white" data-bs-toggle="tooltip" data-bs-placement="right" title="Add and remove members from your channels or from others">
          Memberships
        </a>
      </li>
    </ul>
    <hr>
    <div class="dropdown">
      <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
        <img src="https://github.com/mdo.png" alt="" width="32" height="32" class="rounded-circle me-2">
        <strong>mdo</strong>
      </a>
      <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1">
        <li><a class="dropdown-item" href="#">Settings</a></li>
        <li><a class="dropdown-item" href="#">Profile</a></li>
        <li><hr class="dropdown-divider"></li>
        <li><%= link_to "Sign out", destroy_user_session_path, method: :delete, class: "dropdown-item"  %></li>
      </ul>
    </div>
  </div>
  