<tr id=<%= dom_id(member) %>>
  <td>
    <div class="d-flex align-items-center">
      <%= member.invitation_email %>
    </div>
  </td>
  <td><span class="badge rounded-pill bg-info text-dark"><%= member.channels.count %></span><small class="ms-1"><%= "channel".pluralize(member.channels.count) %></small></td>
  <td><span class="badge rounded-pill bg-primary">active</span></td>
  <td><span class="badge rounded-pill bg-dark"><%= member.role.title %></span></td>
  <td class="d-flex justify-content-end"><%= render 'memberships/components/member_table/action_dropdown', member: member %></td>
</tr>