<%= form_with(model: warehouse) do |form| %>
  <% if warehouse.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(warehouse.errors.count, "error") %> prohibited this warehouse from being saved:</h2>

      <ul>
        <% warehouse.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div class="field">
    <%= form.label :is_active %>
    <%= form.check_box :is_active %>
  </div>

  <%= form.hidden_field :user_id %>

  <% if current_user.headquarters.count > 0 %>
    <div class="field">
      <ul class="list-group">
        <li class="list-group-item list-group-item-dark">Headquarters with access to <%= warehouse.name %></li>
        <%= form.collection_check_boxes :headquarter_ids, current_user.headquarters, :id, :brand do |c| %>
          <li class="list-group-item">
            <%= c.check_box(class:"form-check-input me-1") + c.label %>
          </li>
        <% end %>
      </ul>
    </div>
  <% else %>
    <%# TODO if empty, offer create new warehouse %>
    <p>You don't have any headquarter yet, start creating one.</p>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
