<%= turbo_frame_tag 'remote_modal' do %>
  <p id="notice"><%= notice %></p>

  <p>
    <strong>Name:</strong>
    <%= @warehouse.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= @warehouse.description %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= @warehouse.address %>
  </p>

  <p>
    <strong>Is active:</strong>
    <%= @warehouse.is_active %>
  </p>

  <p>
    <strong>User:</strong>
    <%= @warehouse.user_id %>
  </p>
<% end %>