<!DOCTYPE html>
<html>
  <head>
    <title>Metrik</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbo-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbo-track': 'reload' %>
  </head>

  <body>
    <% if current_user %>
      <%= render 'layouts/components/modal' %>
      <div class="d-flex vh-100">
        <%= render 'layouts/components/sidebar' %>
        <div class="vw-100 mh-100 overflow-auto">
          <div class="container">
            <%= yield %>
          </div>
        </div>
      </div>
    <% else %>
      <%= yield %>
    <% end %>
  </body>
</html>
